body{
    font-family: Arial, Helvetica, sans-serif;
    margin:20px;
}

a{
    color:#551A8B;
    font-size:28px;
}

h1{
    font-size:60px;
    margin-bottom:20px;
}

h2{
    margin-top:30px;
}

ul{
    margin-left:20px;
}

li{
    margin:8px 0;
}

p{
    font-size:28px;
}